#registry config for icegrid
#客户端通过此Endpoint访问表
IceGrid.Registry.Client.Endpoints=tcp -p 4061
IceGrid.Registry.Server.Endpoints=tcp
IceGrid.Registry.Internal.Endpoints=tcp
IceGrid.Registry.AdminPermissionsVerifier=IceGrid/NullPermissionsVerifier
#Registry的持久化文件存放目录，需要手工创建目录
IceGrid.Registry.Data=./registry
#是否允许动态注册，一般在开发阶段允许，在生产部署则关闭
IceGrid.Registry.DynamicRegistration=1